<!DOCTYPE html>
<html>
<head>
    <title>Allergy Results</title>
</head>
<body>
    <h1>Allergy Results for {{ ingredient }}</h1>
    <ul>
        {% for result in results %}
        <li>
            <strong>Food:</strong> {{ result['Food'] }} <br>
            <strong>Allergy:</strong> {{ result['Allergy'] }} <br>
            <strong>Class:</strong> {{ result['Class'] }} <br>
            <strong>Type:</strong> {{ result['Type'] }} <br>
            <strong>Group:</strong> {{ result['Group'] }} <br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
