<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Category - Abstract</title>
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.css') }}">
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

{% include 'navbar.html' %}

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>





    <!-- page header
    ================================================== -->
    <section class="s-pageheader">
        <div class="row current-cat">
            <div class="column">
            </div>
        </div>
    </section>


    <!-- masonry
    ================================================== -->
    <section class="s-bricks with-top-sep">

        <div class="masonry">

            <!-- brick-wrapper -->
            <div class="bricks-wrapper h-group">
 
                <div class="grid-sizer"></div>

                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="thumb-link">
                            <img src="images/thumbs/masonry/woodcraft-600.jpg" 
                                 srcset="images/thumbs/masonry/woodcraft-600.jpg 1x, images/thumbs/masonry/woodcraft-1200.jpg 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://communitycare.com/living-with-food-allergies/">Living with Food Allergies.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                            Living with one or more food allergies is not easy. The only way to effectively prevent reactions is by avoiding foods that contain allergens that you are allergic to altogether. But this can be challenging because Americans tend to eat many different foods made with numerous ingredients.
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article> <!-- end entry -->
 
                <article class="brick entry format-standard animate-this">
 
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="thumb-link">
                            <img src="images/thumbs/masonry/tulips-600.jpg" 
                                 srcset="images/thumbs/masonry/tulips-600.jpg 1x, images/thumbs/masonry/tulips-1200.jpg 2x" alt="">
                        </a>
                    </div>  <!-- end entry__thumb -->
 
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Health</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://www.justallergythings.com/post/living-as-the-only-family-member-with-a-food-allergy">Living as the Only Family Member with a Food Allergy</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Oftentimes food allergies can be genetic and run in the family. However, many people grow up or start families with no members having an allergy. This can be challenging and a major adjustment for all members of the household when one is diagnosed with a food allergy. 
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                
                </article> <!-- end article -->

                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="thumb-link">
                            <img src="images/thumbs/masonry/dew-600.jpg" 
                                 srcset="images/thumbs/masonry/dew-600.jpg 1x, images/thumbs/masonry/dew-1200.jpg 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Lifestyle</a>
                                    <a href="#">Health</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://premierallergistofflorida.com/blog/a-life-with-food-allergies-combating-the-fear-and-anxiety-with-having-a-food-allergy/">A Life with Food Allergies: Combating the Fear and Anxiety with Having a Food Allergy.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Food allergies and other food reactions are becoming more and more common. Chances are, if you yourself aren’t afflicted, you have a friend or family member who is. Whether it’s a food allergy, food intolerance, or other food reaction, the implications on quality of life can be significant.
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                    
                </article> <!-- end article -->
 
                <!--<article class="brick entry format-quote animate-this" >
    
                    <div class="entry__thumb">
                        <blockquote>
                            <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>
    
                            <cite>Dieter Rams</cite>
                        </blockquote>
                    </div>
    
                </article> <!-- end article -->-->
 
                <article class="brick entry format-standard animate-this">
 
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="thumb-link">
                            <img src="images/thumbs/masonry/rucksack-600.jpg" 
                                 srcset="images/thumbs/masonry/rucksack-600.jpg 1x, images/thumbs/masonry/rucksack-1200.jpg 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
 
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Lifestyle</a>
                                    <a href="#">Work</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://www.redsneakers.org/blog-posts/how-to-self-manage-food-allergies-at-summer-camp">How to Self-Manage Food Allergies at Summer Camp.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Here are some tips for when your food allergic kid goes to summer camp…
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                
                </article> <!-- end article -->
 
                <article class="brick entry format-standard animate-this" >
        
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="thumb-link">
                            <img src="images/thumbs/masonry/jump-600.jpg" 
                                 srcset="images/thumbs/masonry/jump-600.jpg 1x, images/thumbs/masonry/jump-1200.jpg 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
        
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Family</a>
                                    <a href="#">Relationship</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://cara.care/en/magazine/my-life-food-intolerances-allergies/">An insight into my life with food intolerances and allergies.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                This is an article by Fabienne from Freiknuspern about living with food intolerances and allergies.
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                        
                </article> <!-- end article -->
 
                <article class="brick entry format-gallery animate-this">
 
                    <div class="entry__thumb slider">
                            <div class="slider__slides">
                                <div class="slider__slide">
                                    <img src="images/thumbs/masonry/gallery/slide-1-600.jpg" 
                                         srcset="images/thumbs/masonry/gallery/slide-1-600.jpg 1x, images/thumbs/masonry/gallery/slide-1-1200.jpg 2x" alt=""> 
                                </div>
                                <div class="slider__slide">
                                    <img src="images/thumbs/masonry/gallery/slide-2-600.jpg" 
                                         srcset="images/thumbs/masonry/gallery/slide-2-600.jpg 1x, images/thumbs/masonry/gallery/slide-2-1200.jpg 2x" alt="">
                                </div>
                                <div class="slider__slide">
                                    <img src="images/thumbs/masonry/gallery/slide-3-600.jpg" 
                                         srcset="images/thumbs/masonry/gallery/slide-3-600.jpg 1x, images/thumbs/masonry/gallery/slide-3-1200.jpg 2x" alt="">  
                                </div>
                            </div>    
                    </div> <!-- end entry__thumb -->
 
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Vacation</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://www.frontiersin.org/articles/10.3389/falgy.2021.668479">Grand Challenges in Food Allergy.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Popularly, adverse reactions to food, ranging from anaphylaxis and gluten hypersensitivity to lactose intolerance and even food poisoning, are often shoved together under the term “food allergy.” To avoid confusion, here we restrict food allergy to adverse reactions with an immunological basis, i.e., to inflammatory diseases of the immune system. 
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                
                 </article> <!-- end article -->
 
                 <!--<article class="brick entry format-link animate-this">
 
                    <div class="entry__thumb">
                        <div class="link-wrap">
                            <p>Looking for affordable &amp; reliable web hosting? We recommend Dreamhost.</p>
                            <cite>
                                <a target="_blank" href="http://www.dreamhost.com/r.cgi?287326">http://www.dreamhost.com</a>
                            </cite>
                        </div>
                    </div> <!-- end entry__thumb -->
                
                </article> <!-- end article -->
 
                <article class="brick entry format-audio animate-this">
    
                    <div class="entry__thumb">
                        <a href="single-audio.html" class="thumb-link">
                            <img src="images/thumbs/masonry/guitarist-600.jpg" 
                                 srcset="images/thumbs/masonry/guitarist-600.jpg 1x, images/thumbs/masonry/guitarist-1200.jpg 2x" alt="">
                        </a>
                    </div> <!-- end entry--thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Lifestyle</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://www.allergicliving.com/thisallergiclife/life-with-food-allergies-the-struggle-is-real-but-getting-better/">Life with Food Allergies: the Struggle is Real, But Getting Better.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                For a teen like me, food allergies are so hard. You watch others eat foods that are your poison, you hear the 'jokes,' you feel alone. So will things get better? I'm finding, amazingly, they do.
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                    
                </article> <!-- end article -->
    
                <article class="brick entry format-video animate-this">
 
                    <div class="entry__thumb video-image">
                        <a href="https://player.vimeo.com/video/117310401?color=ffffff&title=0&byline=0&portrait=0" data-lity  class="thumb-link">
                            <img src="images/thumbs/masonry/cookies-600.jpg" 
                                 srcset="images/thumbs/masonry/cookies-600.jpg 1x, images/thumbs/masonry/cookies-1200.jpg 2x" alt="">                  
                        </a>
                    </div> <!-- end entry__thumb -->
 
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Lifestyle</a> 
                                    <a href="#">Health</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://www.foodallergy.org/fare-blog/how-fares-community-access-program-supported-one-familys-food-allergy-care-journey">How FARE’s Community Access Program Supported One Family’s Food Allergy Care Journey.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                FARE collaborates with a broad network of Community Access Program partners to connect under-resourced families to patient education, nutrition support, and food allergy care.
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                
                 </article> <!-- end article -->
 
                 <article class="brick entry format-standard animate-this">
 
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="thumb-link">
                            <img src="images/thumbs/masonry/walk-600.jpg" 
                                 srcset="images/thumbs/masonry/walk-600.jpg 1x, images/thumbs/masonry/walk-1200.jpg 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
 
                    <div class="entry__text">
                        <div class="entry__header">
    
                            <!--<div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Work</a>
                                </span>
                            </div>-->
    
                            <h1 class="entry__title"><a href="https://www.foodallergyawareness.org/blog/an-allergy-friendly-welcome-to-the-world-of-gluten-free-eating/">An Allergy-Friendly Welcome to the World of Gluten-Free Eating.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Peanuts and soy. Pistachios and cashews. Sesame and tree nuts. Food allergies don’t always travel alone. And if a roulette wheel of possible cross-reactivity combinations isn’t challenging enough, autoimmune disorders like celiac disease sometimes tag along to make the daily routine of navigating food even more complex. 
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                
                </article> <!-- end article -->
 
                
 
            </div> <!-- end brick-wrapper --> 
 
        </div> <!-- end masonry -->

        

    </section> <!-- end s-bricks -->



   <!-- Java Script
   ================================================== --> 
   <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>