<body></body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<nav class="navbar" id="navbar">
    <div class="navbar-top">
      <div class="container">
        <div class="logo-container">
          <div class="logo">
            <img src="https://raw.githubusercontent.com/Smit-Prajapati/QuickNews/main/images/quickNewsLogoMain.svg" alt="Quick News">
          </div>
          <div class="nav-icons">
            <div class="search-icon" id="search-button-mobile">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="menu-icon" id="menu-button">
              <i class="fa-solid fa-bars"></i>
            </div>
          </div>
          <div class="search-bar" id="search-bar">
            <input type="text" id="search-text" placeholder="Search Topic">
            <button id="search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-bottom">
      <div class="container">
        <ul class="nav-links" id="nav-links">
          <li><a href="#" class="nav-link active">Dashboard</a></li>
          <li><a href="#" class="nav-link">Blogs</a></li>
          <li><a href="#" class="nav-link">Health Tracker</a></li>
          <li><a href="#" class="nav-link">Medication reminder</a></li>
          <li><a href="#" class="nav-link">Allergy data</a></li>
          <li><a href="#" class="nav-link">Login</a></li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
<link rel="stylesheet" href="{{ url_for('static', filename='js/navbar.js') }}">
</body>